/* Larger = lighter */
:root {
  --red-800: rgb(69, 25, 25);
  --blue-900-a70: rgba(236, 244, 254, 0.7);
  --blue-900-a50: rgba(236, 244, 254, 0.5);
  --blue-900-a30: rgba(236, 244, 254, 0.3);
  --blue-900-a20: rgba(236, 244, 254, 0.2);
  --blue-900-a10: rgba(236, 244, 254, 0.1);
  --blue-900-a05: rgba(236, 244, 254, 0.05);
  --blue-900-a03: rgba(236, 244, 254, 0.03);
  --blue-900: rgb(236, 244, 254);
  --blue-200: rgb(2, 18, 37);
  --blue-100: rgb(1, 9, 19);
}

* {
  box-sizing: border-box;
}

html {
  color: var(--blue-900);
  font-size: 15px;
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  margin: 0;
  position: relative;
}
body::before, body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-attachment: fixed;
}
body::before {
  background-color: black;
  background-image: url("https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  z-index: -2;
}
body::after {
  opacity: 0.85;
  background-image: linear-gradient(60deg, var(--red-800), var(--blue-200));
  z-index: -1;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h2,
h3 {
  font-weight: normal;
  letter-spacing: 0.05em;
}

/* Header */
.o-header {
  border-bottom: 1px solid var(--blue-900-a70);
  background-image: linear-gradient(180deg, var(--blue-100), var(--blue-200));
}

.o-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Main */
.o-main {
  padding-top: 2rem;
}

/* Footer */
.o-footer {
  border-top: 1px solid var(--blue-900-a70);
  background-image: linear-gradient(var(--blue-200), var(--blue-100));
}

.o-footer__container {
  color: var(--blue-900-a70);
  font-size: 0.75em;
  padding: 0.5em 0;
}

/* Grid */
.o-grid {
  display: grid;
  grid-template-columns: 1fr minmax(0, 72rem) 1fr;
  grid-template-rows: auto;
}

.o-grid__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.o-grid__item--center {
  grid-column: 2;
}

.o-grid__item--full {
  grid-column: 1/4;
}

.o-grid__item--background {
  color: var(--blue-200);
  padding-top: calc(1rem + 10px);
  position: relative;
}
.o-grid__item--background::before, .o-grid__item--background::after {
  content: "";
  position: absolute;
  background-color: var(--blue-900-a10);
  box-shadow: inset 0 0 16px 2px var(--blue-900-a20);
}
.o-grid__item--background::before {
  width: calc(100% + 40px);
  height: calc(100% + 20px);
  top: 4px;
  left: -20px;
  border-top: 1px solid var(--blue-900-a30);
}
.o-grid__item--background::after {
  width: 100%;
  border-top: 1px solid var(--blue-900-a30);
  top: 0;
}

/* Link */
.c-link {
  color: currentColor;
  text-decoration: none;
  position: relative;
  z-index: 1;
}
.c-link::before {
  content: "";
  width: calc(100% + 4px);
  height: 1px;
  border-radius: 1px;
  position: absolute;
  bottom: 0;
  left: -2px;
  z-index: -1;
  background-color: var(--blue-900);
  transition-duration: 200ms;
  transition-property: color height;
}
.c-link:focus, .c-link:hover {
  color: var(--blue-200);
  outline: none;
}
.c-link:focus::before, .c-link:hover::before {
  height: 100%;
}

.c-link--inverted::before {
  background-color: var(--blue-200);
}
.c-link--inverted:focus, .c-link--inverted:hover {
  color: var(--blue-900);
}

/* Button */
.c-button {
  font-size: 0.75em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--blue-900);
  margin-top: 0.5rem;
  padding: 0.5em 1em;
  border: 1px solid var(--blue-900);
  border-radius: 4px;
  background-color: var(--blue-900-a03);
  box-shadow: 0 0 8px 2px var(--blue-900-a05), inset 0 0 8px 2px var(--blue-900-a05);
  cursor: pointer;
}
.c-button:focus, .c-button:hover {
  outline: none;
  background-color: var(--blue-900-a10);
  box-shadow: 0 0 8px 2px var(--blue-900-a20), inset 0 0 8px 2px var(--blue-900-a20);
}

/* Search */
.c-search {
  color: var(--blue-900);
  width: 100%;
  max-width: 32rem;
  margin: 0.5rem;
  padding: 0.5em 1em;
  border: 1px solid var(--blue-900-a70);
  border-radius: 3rem;
  background-color: transparent;
}
.c-search:focus {
  outline: 0;
  box-shadow: 0 0 6px 2px var(--blue-900-a20), inset 0 0 6px 2px var(--blue-900-a20);
}

/* Logo */
.c-logo {
  font-size: 1.5rem;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  margin: 0.5rem;
  text-shadow: 0 0 9px var(--blue-900);
}

/* Bracket box */
.c-bracket-box {
  margin: 0.5rem;
}

.c-bracket-box__container {
max-width: 680px;
  margin: 16px;
  padding: 1rem;
  border: 1px solid var(--blue-900-a10);
  border-radius: 2px;
  position: relative;
  background-color: var(--blue-900-a03);
  box-shadow: 0 0 8px 2px var(--blue-900-a05), inset 0 0 8px 2px var(--blue-900-a05);
}
.c-bracket-box__container::before, .c-bracket-box__container::after {
  content: "";
  opacity: 0.7;
  width: calc(100% + 18px);
  height: 10px;
  border: 1px solid #ecf4fe;
  border-radius: 1px;
  position: absolute;
  left: -9px;
}
.c-bracket-box__container::before {
  border-bottom: none;
  top: -12px;
  transform: perspective(45px) rotateX(8deg);
}
.c-bracket-box__container::after {
  border-top: none;
  bottom: -12px;
  transform: perspective(45px) rotateX(-8deg);
}

.c-bracket-box--multi .c-bracket-box__container:not(:last-child)::after {
  height: 9px;
  border-right: none;
  border-bottom: none;
  left: 50%;
  bottom: -14px;
  transform: none;
}
.c-bracket-box--multi .c-bracket-box__container:nth-child(1n+2)::before {
  width: 9px;
  left: calc(50% - 4px);
  border-right: none;
  border-left: none;
  top: -9px;
  transform: none;
}

/* Skew box */
.c-skew-box {
  font-size: 10px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5rem;
}

.c-skew-box__container {
  margin: 3px;
  padding: 0.25em 1.5em 0;
  position: relative;
}
.c-skew-box__container::before {
  content: "";
  opacity: 0.7;
  width: 100%;
  height: 100%;
  border: 1px solid currentColor;
  position: absolute;
  top: 0;
  left: 0;
  transform: skewX(30deg);
}

.c-skew-box--tr .c-skew-box__container::before {
  border-bottom-width: 0;
  border-left-width: 0;
}

.c-skew-box--br .c-skew-box__container::before {
  border-top-width: 0;
  border-left-width: 0;
  transform: skew(-30deg);
}

.c-skew-box--inverted .c-skew-box__container {
  color: var(--blue-200);
}

/* Repeating box */
.c-repeating-box {
  max-width: 72rem;
  margin: 0.5rem 1rem;
  filter: drop-shadow(0 0 6px var(--blue-900-a50));
}

.c-repeating-box__container {
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  position: relative;
  background-color: #ffffff73;
  background-image: linear-gradient(90deg, var(--blue-900-a10) 3px, transparent 1px);
  background-size: 6px;
  clip-path: polygon(0 15px, 15px 0, calc(100% - 15px) 0, 100% 15px, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 calc(100% - 15px));
}

.c-repeating-box__subsection {
  margin-top: 0.25rem;
  padding-top: 1rem;
  border-top: 1px solid currentColor;
}
.c-repeating-box__subsection + .c-repeating-box__subsection {
  margin-top: 1rem;
}

.c-repeating-box__details {
  font-size: 0.75em;
  display: inline-block;
  margin-top: 0.25rem;
  padding: 2px 5px;
  border: 1px solid currentColor;
  border-width: 1px 0;
  border-radius: 3px;
}